@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 11px;
        overflow-y: auto;
    }



/* Avatar responsive */
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}


    .link {
        width: 80%;
          touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
    }

    /* Avatar et menu alignés en haut */
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nowPlaying {
    position: static !important; /* 👈 ce qui le rendra intégré dans le flux */
    width: 100%;
    margin-top: 20px;
    transform: none;
    opacity: 0;
    pointer-events: none;
    display: none;
    }

  #nowPlaying.visible {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
    
    .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 100%;
  box-sizing: border-box;
    }


    #styleSelector {
        width: 90%;
        margin: 10px auto;
    }


.burger-menu {
   display: block;
    font-size: 1rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}


    .link-list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .link-list.active {
        display: flex;
    }
}

