@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 16px;
        overflow-y: auto;
    }



/* Avatar responsive */
.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}


    .link {
        width: 80%;
          touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
    }

    .burger {
        display: block;
        margin-bottom: 10px;
    }

    #linkList {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
    }
}

@media (max-width: 768px) {
    /* Avatar et menu alignés en haut */
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nowPlaying {
        position: static;
        width: 100%;
        margin-top: 20px;
        transform: none;
    }

    .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  box-sizing: border-box;
    }

    .burger-menu {
        display: block;
    }



    .burger-menu.active + .link-list {
        display: flex;
        flex-direction: column;
    }

    /* Exemple bouton burger */
    .burger-menu {
        font-size: 2rem;
        cursor: pointer;
        margin: 10px;
    }

    #styleSelector {
        width: 90%;
        margin: 10px auto;
    }
}
