body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slideshow-container {
  position: relative;
  max-width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
