/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #f4f4f9, #eef2f3);
    color: #333;
    line-height: 1.3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    max-width: auto;
    gap: 10px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #bebcb38c;
    transition: background-color 0.3s ease;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    padding: 5px;
    animation: fadeInDown 1s ease-out;
}

.photo-container img {
    width: 180px;
    height: 180px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2980b9;
    transition: transform 0.3s;

}

img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

    .photo-container img:hover {
        transform: scale(1.1);
        outline: var(--b) solid var(--c);
        outline-offset: var(--g);
    }

.img {
    --s: 15px; /* the size of the image */
    --b: 4px; /* the border thickness*/
    --g: 2px; /* the gap */
    --c: #1abc9c; /* the color */

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #55abcc5a;
    outline-offset: calc(var(--s)/-6);
    cursor: pointer;
    transition: .3s;
}

header h1 {
    align-items: center;
    text-align: center;
    margin: 20px 0 10px;
    font-size: 2.8rem;
    color: #2980b9;
    transition: color 0.3s;
}

    header h1:hover {
        color: #1abc9c;
    }

header p {
    color: #7f8c8d;
}

/* Accroche professionnelle */
#accroche-professionnelle {
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    font-size: 0.80rem;
    color: #7f8c8d;
}

/* Sections principales */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
section {
    margin-bottom: 5px; /* Augmentation de l'espace entre sections */
    gap: 5px;
    align-items: center;
    text-align: center;
}

/* Sections repliables */
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.3s ease;
    opacity: 0;
}

section.active .collapsible-content {
    max-height: 600px; /* Ajuster selon le contenu */
    opacity: 1;
}


p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 0.75rem;
}



    img:hover {
        outline: var(--b) solid var(--c);
        outline-offset: var(--g);
    }

/* Mode sombre */
body.dark-theme {
    background: linear-gradient(to right, #2c3e50, #4a4a4a);
    color: #f1f1f1;
}
    body.dark-theme .accroche,
    body.dark-theme #accroche-professionnelle {
        color: #d1d1d1; /* Gris clair pour une meilleure lisibilité */
    }

    body.dark-theme .container {
        background-color: rgba(0, 0, 0, 0.1);
    }

    body.dark-theme .left-column,
    body.dark-theme .right-column {
        background-color: #444;
    }

    /* Mode sombre : liens en blanc */
    body.dark-theme a {
        color: white;
    }

        body.dark-theme a:hover {
            color: #1abc9c;
        }

/* Bouton de mode sombre */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #b9862925;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    .theme-toggle:hover {
        transform: rotate(180deg);
    }

/* Bouton de retour */
.bouton-toggle {
    display:flex;
    top: 20px;
    right: 20px;
align-items:center;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


/* Contenu principal */
.main-content {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.left-column, .right-column {

    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 10px;
    flex: 1;
    min-width: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Ombre légèrement plus marquée */
    transition: background-color 0.3s;
    animation: fadeInUp 1s ease-out;
}

h2 {
    font-size: 16px; /* Un poil plus grand pour une meilleure hiérarchie */
    margin-bottom: 5px;

    color: #2980b9;
    transition: color 0.3s, transform 0.3s ease-in-out;
}
    h2:hover {
        color: #1abc9c;
        transform: translateX(5px);
    }
h3 {
    font-size: 14px; /* Un poil plus grand pour une meilleure hiérarchie */
    margin-bottom: 5px;
    color: #2980b9;
    transition: color 0.3s, transform 0.3s ease-in-out;
}

    h3:hover {
        color: #1abc9c;
        transform: translateX(5px);
    }


/* Général */

.formation {
    margin-bottom: 10px;
    padding: 5px;
    border-left: 2px solid #2980b9;
    background-color: #f9f9f9;
    border-radius: 5px;
}

    .formation h3 {
        margin: 0;
        font-size: 0.7rem;
        font-weight: bold;
        color: #2980b9;
    }

    .formation p {
        margin: 5px 0;
        font-size: 0.65rem;
        color: #555;
    }

.formation h3::before {
    content: ""; /* Icône pour chaque expérience */
}

.experience {
    margin-bottom: 14px;
    padding: 10px;
    border-left: 2px solid #2980b9;
    background-color: #f9f9f9;
    border-radius: 5px;
}

    .experience h3 {
        margin: 0;
        font-size: 0.7rem;
        font-weight: bold;
        color: #2980b9;
    }

    .experience p {
        margin: 5px 0;
        font-size: 0.65rem;
        color: #555;
    }

    .experience h3::before {
        content: ""; /* Icône pour chaque expérience */
    }


/* Liens */
a {
    color: black;
    text-decoration: none;
    transition: color 0.4s;
}

    a:hover {
        color: #1abc9c;
    }

/* Listes */
ul {
    list-style: none;
    padding: 0;
}

    ul li {
        list-style: none;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 0.70rem;
        transition: transform 0.3s ease-in-out;
    }

        ul li:hover {
            transform: translateX(10px);
        }

        ul li::before {
            content: "*";
            color: #2980b9;
            margin-right: 10px;
            font-size: 0.65rem;
        }

/* Badges */
.badge {
    display: inline-block;
    background-color: #2980b9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.7rem;
    margin: 5px 5px 0 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .badge:hover {
        background-color: #1abc9c;
        transform: translateY(-3px);
    }

/* Footer */
footer {
    font-size: 0.85rem;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #2980b9;
    color: #fff;
}

    footer a {
        color: white;
        transition: color 0.3s;
    }

        footer a:hover {
            color: #1abc9c;
        }

footer img {
    --s: 15px; /* the size of the image */


    width: var(--s);
    aspect-ratio: 1;
    
    cursor: pointer;
    transition: .3s;
}


/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Transitions */
body, header, .container, .left-column, .right-column {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #accroche-professionnelle {
        font-size: 0.9rem;
    }

    .main-content {
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr; /* Une seule colonne sur mobile */
        gap: 20px;
    }

    .left-column, .right-column {
        width: 95%; /* Utilise toute la largeur */
        padding: 20px; /* Ajout d'un padding pour éviter que le texte colle aux bords */
        align-items: center;
    }
    .container {
        margin: 5vw auto;
        padding: 4vw;
        align-items: center;
    }

    section {
        padding: 3vw;
        margin-bottom: 10px; /* Ajout d'un espace entre les sections */
    }
}

@media (max-width: 480px) {
    
    * {
        animation-duration: 0.6s; /* Un poil plus fluide */
    }

    #accroche-professionnelle {
        font-size: 0.75rem; /* Texte légèrement plus petit */
        padding: 5px;
        width: 90%; /* Ne pas coller aux bords */
    }
    .theme-toggle {
        width: 40px;
        height: 40px;
        font-size: 0.9rem;
        top: 10px;
        right: 10px;
    }
    .photo-container img:hover {
        transform: none; /* Pas d'agrandissement sur mobile */
    }

    .left-column, .right-column {
        width: 95%; /* Utilise toute la largeur */
        padding: 10px; /* Ajout d'un padding pour éviter que le texte colle aux bords */
        align-items: center;
    }

    .container {
        margin: 4vw auto;
        padding: 3vw;
        align-items: center;
    }
    .h2 {
        font-size:0.7rem;
    }
    .h3 {
        font-size: 0.7rem;
    }
    .p {
        font-size: 0.7rem;
    }
}



